
body { 
  margin: 4px; 
}

span.b { color: #647899; }
span.s { color: #D68073; }

div.message {
    width: 100%; 
    margin-top: 14px; 
}

div.message p {
    padding-left: 8px;
    padding-right:8px;
    text-indent: 26px; 
    font-family: "Georgia"; 
    font-size: 3.0em; 
}

div.score {
    position: fixed; 
    left: 0px; 
    bottom: 0px;
    width: 100%; 
    padding-left: 2%;
    padding-bottom: 2%; 
    font-family: "Lucida Console"; 
    font-size: 1.2em;  
}

div.score p:nth-child(1) {
    color: #647899;
}
div.score p:nth-child(2) {
    color: #d68073; 
}

div.score p span {
  font-weight: bold;
}
