
body { 
  margin: 4px; 
}
div.message {
    width: 100%; 
    margin-top: 14px; 
}
div.message p {
    padding-left: 8px;
    font-family: "Verdana"; 
    font-size: 3.0em; 
}
div.score {
    position: fixed; 
    left: 0px; 
    bottom: 0px;
    width: 100%; 
    padding-left: 2%;
    padding-bottom: 2%; 
    font-family: "Lucida Console"; 
    font-size: 1.2em;  
}

div.score p:nth-child(1) {
    color: #80AAFF;
}
div.score p:nth-child(2) {
    color: #FF9966; 
}

div.score p span {
  font-weight: bold;
}
