<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Points Challenge</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='bceltic.ico') }}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
	<script>
		function printMessage() {
			var b = {{ rows["Brian"] }};
			var s = {{ rows["Sam"] }};
			var div = document.getElementsByClassName("message")[0]; 
			var bMessages = ['<p>looks like <span class="b">Brian</span> is buying</p>', '<p><span class="b">Brian</span> will be picking up the check</p>', '<p>no free steak for <span class="b">Brian</span> tonight</p>']; 
			var sMessages = ['<p>looks like <span class="s">Sam</span> is buying</p>', '<p><span class="s">Sam</span> will be picking up the check</p>', '<p>no free steak for <span class="s">Sam</span> tonight</p>']; 

			var random = Math.floor(Math.random() * (bMessages.length - 0 + 1) + 0;  
			if( b > s) {
				div.innerHTML = sMessages[random];
			}
			else if(b < s) {
				div.innerHTML = bMessages[random];
			}
			else if(b == s) {
				div.innerHTML = "<p>looks like we're spliting the check</p>";
			}
			else {
				div.innerHTML = "<p>oh no, something went wrong</p>";
			}
		}
	</script>
</head>


<body onload="printMessage()">
	<div class="message"></div>
	<div class="score">
		<p>Brian has <span class="b">{{ rows["Brian"] }}</span> combined points.</p>
		<p>Sam has <span class="s">{{ rows["Sam"] }}</span> combined points.</p>
	</div>
</body>
</html>
